<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section class="call-to-action section accent-background">
	<div class="container">
		<div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
			<div class="col-xl-10">
				<div class="text-center">
					<h3>{data.header}</h3>
					<f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
					<f:link.typolink parameter="{data.header_link}" class="cta-btn">{data.subheader}</f:link.typolink>
				</div>
			</div>
		</div>
	</div>
</section>
</html>
