<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			data-namespace-typo3-fluid="true"
>
<f:asset.css identifier="content-block-wwagner-wwagner/testimonials-be" href="{cb:assetPath()}/preview.css"/>
<be:link.editRecord
	returnUrl="{returnUrl}"
	table="tt_content"
	uid="{data.uid}"
>
<f:for each="{data.testimonials}" as="item">
	<strong>{item.header}, {item.subheader}</strong><br>
	<f:format.raw>{item.bodytext}</f:format.raw><br>
</f:for>
</be:link.editRecord>
</html>
