<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
	<f:if condition="{page.id} != {site.rootPageId}">
		<div class="page-title light-background">
			<div class="container">
				<nav class="breadcrumbs">
					<ol>
						<f:for each="{rootline}" as="item">
							<li class="{f:if(condition: item.current, then: 'current')}">
								<f:if condition="{item.current}">
									<f:then>
										{item.title}
									</f:then>
									<f:else>
										<f:link.typolink parameter="{item.data.uid}">
											{item.title}
										</f:link.typolink>
									</f:else>
								</f:if>
							</li>
						</f:for>
					</ol>
				</nav>
			</div>
		</div>
	</f:if>
</f:spaceless>
</html>
